NODE_ENV=development
PORT=3000
LOG_LEVEL=debug
CORS_ORIGIN=*
SMTP_HOST=localhost
SMTP_PORT=1025
SMTP_SECURE=false
SMTP_USER=
SMTP_PASSWORD=
SMTP_FROM=Monteiro Sociedade de Advogados <no-reply@monteiro.adv.br>
